{% extends 'DDGameApp/overlord.html' %} {% block over %}   {% load static %}
<div>
    <canvas id="mycanvas" width="1000" height="500" style="border:3px solid #000000; "  onclick="drawboard()"></canvas>
</div>

<!--<script>-->
<!--    var canvas = document.getElementById("mycanvas");-->
<!--    var ctx = canvas.getContext("2d");-->
<!--    ctx.beginPath();-->
<!--    ctx.arc(95,50,40,0,2*Math.PI);-->
<!--    ctx.stroke();-->
<!--</script>-->
<script src="{% static 'DDGameApp/js/gameboard.js'%}"></script>
{% endblock %}