<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Project DragonSlayer</title>
    <link rel="stylesheet" href="{% static 'DDGameApp/css/index.css'%}" type="text/css">
</head>
<body>
{% if user.is_authenticated %}
<header>
    <h2>Welcome to Project DragonSlayer</h2>
    <p><button  id="butt" class="butt" onclick=window.location.href="{% url 'logout' %}" >Logout</button></p>
</header>
{%else%}
<header><h2>Project DragonSlayer</h2>
</header>
{%endif%}
<hr>
{% block content%}
{% if user.is_authenticated %}
{%block context%}
<h1>Welcome to Project DragonSlayer, {{user.username}}</h1>
<h2>Are a coming in as an ...</h2>
<h2><a href="{% url 'overlord' %}" >Overlord</a> or <a href="{% url 'player' %}" >Player</a>?</h2>
{%endblock%}
{%else%}
<h1>Welcome Slayer</h1>
<h2>Please <a href="{% url 'login'%}">login</a> to continue.</h2>
<h2>New Slayer? <a href="{%url 'newuser'%}">Join us!</a></h2>
{%endif%}
{%endblock%}
</body>
</html>