{% extends 'DDGameApp/index.html' %} {% block context %}
<section>
    <div><button class="navbar" onclick=window.location.href="{% url 'create'%}" >Create Game</button> <button class="navbar" onclick=window.location.href="{% url 'games'%}" >My Games</button> || Ongoing Games || <button class="navbar" onclick=window.location.href="{% url 'board' %}" >Info Page</button>  <button class="navbar" onclick=window.location.href="{% url 'player' %}" >Switch to Player Mode</button></div>
    {%block over%}
    <h2>Welcome Overlord, {{user.username}}</h2>
    {%endblock%}
</section>
{% endblock %}