body{
    background-color: cadetblue;
    text-align: center;
}
button {
    /*background-color: cadetblue;*/
    border: black 2px solid;
    padding: 1% 2% 1% 2%;
}
button:hover {
    background-color: black;
    border: greenyellow 2px solid;
    color: white;
}
.butt{
    padding: 4px;
}
#butt{
    text-align: right;
}
header{
    text-align: center;
}

hr{
    color: black;
}
#sect{
    margin: 2% 40% 2% 40%;
}
#container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}